@{
    ViewData["Title"] = "About";
}
@{
    Layout = "";
}

<!DOCTYPE HTML>

<html>
<head>
    <section class="wrapper style3">
        <title>Food Enforcement</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="~/css/main.css" />
    </section>

</head>
<body class="landing">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><strong><a href="index.html">Food </a></strong> Enforcement</h1>
        <nav id="nav">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="MainView">Products List</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About Author</a></li>
            </ul>
        </nav>
    </header>


    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


        <!-- HEADER -->
        <header id="main-header">
        </header>

        <!-- SUBHEADER -->
        <section id="subheader">
                       

            <div class="container">

                <div class="row center-xs center-sm center-md center-lg">
                    <h3>Alysson Silveira</h3>
                    <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <img src="~/images/alyss.jpg" alt="Alysson Silveira" style="width:100%" position="center">

                        <p> </p>
                        <p>Alysson Silveira is a student at the University of South Florida, enrolled at the Master of Science in Business Analytics and Information Systems program. He has eight years of experience as a management consultant on major Brazilian consulting groups throughout different sectors like manufacturing, e-commerce, nonprofit hospital, hospitality, and several service companies. He is proficient in managing different data management tools such as R, Python, SQL and Tableau. <b>Contribution: </b>Azure deployment, SQL Server, ASP.NET, HTLM and CSS development home page and ERD design </p>
                        <p style="color:blue;">
                            https://github.com/silveira-alysson
                        </p>

                    </div>
                </div>
            </div>
</body>
</html>