@{
    ViewData["Title"] = "About";
}

<h2>THE TEAM</h2>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">



</head>
<body>
    <!-- HEADER -->
    <header id="main-header">
    </header>

    <!-- SUBHEADER -->
    <section id="subheader">
        <div class="container">

            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                    <img src="~/images/pradeep.jpg" alt="Pradeep Salunke" style="width:60%">
                    <h3>Pradeep Salunke</h3>
                    <p> </p>
                    <p> </p>
                    <p>
                        Pradeep Salunke is a student at the University of South Florida, currently pursuing a Master of Science in Business Analytics and Information Systems. He has more than 3.5 years of experience as a Software Engineer with a demonstrated history of working in the IT industry. Pradeep has Solid foundation in computer science, with strong competencies in data structures, algorithms, software design and OOP and skilled in Java,C#, SQL,Rest & SOP, JS and jQuery with also a strong business development sense.
                        <b>Contribution:</b>API consumption, C# coding, ASP.NET coding, HTML, CSS.


                    </p>
                    <p style="color:blue;">
                        <br>Pradeep's Github:<br>
                        https://github.com/pradeepsalunke
                    </p>


                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="~/images/aly.jpg" alt="Alysson Silveira" style="width:56%">
                    <h3>Alysson Silveira</h3>
                    <p> </p>
                    <p>Alysson Silveira is a student at the University of South Florida, enrolled at the Master of Science in Business Analytics and Information Systems program. He has eight years of experience as a management consultant on major Brazilian consulting groups throughout different sectors like manufacturing, e-commerce, nonprofit hospital, hospitality, and several service companies. He is proficient in managing different data management tools such as R, Python, SQL and Tableau. <b>Contribution: </b>Azure deployment, SQL Server, ASP.NET, HTLM and CSS development home page and ERD design </p>
                    <p style="color:blue;">
                        <br>Alysson's Github:<br>
                        https://github.com/silveira-alysson
                    </p>

                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="~/images/julian.jpg" alt="Julian Heredia" style="width:60%">
                    <h3>Julian Heredia</h3>
                    <p> </p>
                    <p>
                        Julian Heredia is a student at the University of South Florida, currently pursuing a Master of Science in Business Analytics and Information Systems. He also has a baccalaureate degree in the same field and has experience with Python, SQL, Tableau, and C#. Currently, Julian works for USF Health in the data analysis working group in the Microbiome Initiative and has aspirations to use his management experience coupled with his BAIS to support organizational growth in a consultancy or analytical role.
                        <b> Contribution:</b> ASP.NET coding, Azure deployment, HTLM and CSS development
</p>

                    <p style="color:blue;">
                        <br>Julian's Github:<br>
                        https://github.com/julian0316
                    </p>
                </div>


            </div>



        </div>
    </section>
    <section id="subheader">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>ERD Digram</h1>
                </div>
            </div>
            <img src="~/images/erd.jpg" alt="ERD" style="width:60%">
        </div>
    </section>
</body>
</html>
