@{
    ViewData["Title"] = "Index";
}

<h2>Food Enforcement Overview</h2>
<hr />

<div>
    <p>
        The openFDA food enforcement reports API returns data from the FDA Recall Enterprise System (RES), a database that contains information on recall event information submitted to FDA. Currently, this data covers publicly releasable records from 2004-present. The data is updated weekly.

        The procedures followed to input recall information into RES when FDA learns of a recall event are outlined in Chapter 7 of FDA’s Regulatory Procedure Manual The Regulatory Procedures Manual is a reference manual for FDA personnel. It provides FDA personnel with information on internal procedures to be used in processing domestic and import regulatory and enforcement matters.        <br />

        <br />

        <br />
    </p>

    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API using API key.</li>
            <li>Consuming the data from the REST API.</li>
        </ul>
    </p>
</div>