@{
    ViewData["Title"] = "Index";

}

@{
    Layout = "";
}

@model Food_Enforcement.Models.EF_Models.RootObject

@{
    int classone = 0;
    int classtwo = 0;
    int classthree = 0;

    foreach (var i in Model.results)
    {
        if (i.classification == "Class I")
        {
            classone++;
        }
        if (i.classification == "Class II")
        {
            classtwo++;
        }
        if (i.classification == "Class III")
        {
            classthree++;
        }
    }


}


<!DOCTYPE HTML>

<html>
<head>
    <style>

        #chartdiv {
            width: 100%;
            height: 400px;
        }
    </style>
    <title>Food Enforcement</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.PieChart);

            // Add data
            chart.data = [
                {
                    "term": "Class II",
                    "count": @classone
                },
                {
                    "term": "Class I",
                    "count": @classtwo
                },
                {
                    "term": "Class III",
                    "count": @classthree
                },

            ];

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "count";
            pieSeries.dataFields.category = "term";
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;

            // This creates initial animation
            pieSeries.hiddenState.properties.opacity = 1;
            pieSeries.hiddenState.properties.endAngle = -90;
            pieSeries.hiddenState.properties.startAngle = -90;

        }); // end am4core.ready()
    </script>
</head>
<body class="landing">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><strong><a href="index.html">Food </a></strong> Enforcement</h1>
        <nav id="nav">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="MainView">Products List</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About Author</a></li>
            </ul>
        </nav>
    </header>

    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <!-- Banner -->
    <section id="banner">
        <h2>Products by Class</h2>
        <div id="chartdiv"></div>
        <ul class="actions">
            <li><a href="generic.html" class="button special big">Food Enforcement</a></li>
        </ul>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>Class I</h2>
                        <!--<p>I</p>-->
                    </header>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>Products that might cause a temporary health problem, or pose only a slight threat of a serious nature. Example: a drug that is under-strength but that is not used to treat life-threatening situations.</p>

                </div>
            </div>
        </div>
    </section>
    <section id="one" class="wrapper style2">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>Class II</h2>
                       <!-- <p>II</p> -->
                    </header>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>Dangerous or defective products that predictably could cause serious health problems or death. Examples include: food found to contain botulinum toxin, food with undeclared allergens, a label mix-up on a lifesaving drug, or a defective artificial heart valve.</p>

                </div>
            </div>
        </div>
    </section>
    <section id="one" class="wrapper style1">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>class III</h2>
                        <!--<p>III</p>-->
                    </header>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>Products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws. Examples include: a minor container defect and lack of English labeling in a retail food.</p>

                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <!-- Footer -->
    <footer id="footer">
        <div class="container">

            <ul class="copyright">
                <li>&copy; Alysson Silveira</li>

            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>